import(methods)
import(datasets)
export(dataTable, dataEdit, dataSave)

exportClass(dataTable, dataEdit, dataSave)
exportClass(DateTime)

export(degree, track)
exportClass(degree, track, GPStrack)
export(flowers, fillIn)

importFrom(codetools, makeCodeWalker, walkCode)
export(codeCountA, codeCountW)

export(datedText, datedVector, datedTable, datedList)
exportClass(datedText, datedVector, datedTable, datedList)

exportClass(city, optionalCity)
